<div class="container my-5 text-center">
    <div class="row gap-3">
      
        <div class="card col-3 mb-2">
            <img src="{{url_for('static', filename= 'pastas.avif')}}" class="card-img-top w-fit" alt="...">
            <div class="card-body d-flex flex-column ">
            <h5 class="card-title">Pasta's</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, odio?</p>
            <p>Price: 1.99 </p>
            <a href="/productsPage" class="btn btn-primary w-75 mx-auto" style="background-color: #049CD8;">Add to basket</a>
            </div>
        </div>
    </div>
</div>
