<!DOCTYPE html>
<html>
  <head>
    <title>Customer Info</title>
  </head>
  <body>
    <h1>Enter Customer Info</h1>
    <form action="/save_customer_info" method="POST">
      <label for="customer_name">Customer Name:</label>
      <input type="text" id="customer_name" name="customer_name"><br><br>
      <label for="customer_number">Customer Number:</label>
      <input type="text" id="customer_number" name="customer_number"><br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
